/* Logo */
.logo-container {
	padding: 20px;
	text-align: center;
	margin-bottom: 30px;
}
.logo {
	max-width: 85%;
	width: 500px;
	margin: 0 auto;
}
/* Alerts */
.alerts-container {
	z-index: 1000;
	max-width: 80%;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
}
.Alert {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}
/* Filter Container */
.filter-container {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.filter-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.inputAndSubmit {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
}

/* City Search */
#city-search {
	position: relative;
	width: 300px;
}

.suggestions {
	list-style-type: none;
	padding: 0;
	margin: 56px 0;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 3px;
	position: absolute;
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
	box-shadow: 0 15px 15px 5px rgba(0, 0, 0, 0.75);
	z-index: 10;
}

.suggestion-item {
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.suggestion-item:hover,
.seeAllCities:hover {
	background-color: #f9f9f9;
}

.seeAllCities {
	padding: 10px;
	cursor: pointer;
	text-align: center;
	font-weight: 700;
}

/* Event Container */
.event-container {
	padding: 0;
	margin: 0;
	text-align: center;
}

#event-list {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	justify-content: center;
	padding: 0;
	margin: 20px;
}
.event-item {
	display: flex;
	flex-direction: column;
	border: 2px solid #eee;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	padding: 1rem;
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

.event-item:hover {
	transform: translateY(-1px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.event-item h2,
.event-item .eventLess {
	margin-bottom: 1.5rem;
}
.eventLess p:first-child {
	margin-bottom: 1rem;
	font-weight: 500;
}
.eventDetails {
	margin-top: 1.5rem;
	color: #666;
	text-align: justify;
	font-weight: 300;
}
.event-item button {
	box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	border: 2px solid #d81e5b;
	color: #d81e5b;
	padding: 5px 15px;
	border-radius: 5px;
	margin-top: 0.5rem;
}
.event-item button:hover,
.event-item button:focus {
	border-radius: 15px;
}
.event-item button:active {
	background-color: #f9f9f9;
}
