* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Lexend', serif;
	background-color: #331832;
}
header {
	width: 100%;
	background-color: #f9f9f9;
}
body,
body > div {
	width: 100%;
	height: 100%;
}
h1,
h2,
h2 {
	text-transform: uppercase;
}
p {
	color: #fff;
	line-height: 130%;
}
a,
.seeAllCities {
	color: #d81e5b;
}
a:hover,
a:focus,
.seeAllCities:hover,
.seeAllCities:focus {
	color: #861b47;
}
a:active,
.seeAllCities:active {
	color: #331832;
}
label {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: left;
	padding-left: 10px;
}
input {
	font-size: 16px;
	border: 2px solid #eee;
	width: 100%;
	padding: 15px;
	transition: border-color 0.3s ease;
}
input:focus {
	outline: none;
}
input,
button {
	border-radius: 50px;
}
button {
	padding: 12px 20px;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	background-color: #fbc353;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

button:hover,
button:focus {
	background-color: #e7ac36;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
	outline: none;
}
button:active {
	background-color: #ecbb5b;
	box-shadow: none;
}
